<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <script>
    var housing_list = '{{housing_addresses}}';
    const coordinate = {{coordinates}};
    var id = '{{id}};'
    console.log(id)
    document.write("Still Working?: " + coordinate.length + "</br>");
    document.write("Still Working?: " + coordinate + "</br>");
    for (let i = 0; i < coordinate.length; i++) {
        document.write("Still Working?: " + coordinate[i] + "</br>");
        coordinate[0]
    }
   </script>
</body>
</html>